# Copy this file to .env
# ----------------------
# Define POSTGRES PORT for Docker when calling datamodel/scripts/run-docker.sh
PG_CONTAINER_PORT=5432

DOCKER_IMAGE_NAME=teksi/qwat
CONTAINER_NAME=qwat
DB_NAME=qwat
PGSERVICE=pg_qwat
DEMO_DATA_NAME=SIGE
