*.backup
*.qgs~
*.pyc
tmp/
update/test_migration.expected.sql
*.orig

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dbnavigator.xml
.idea/**/misc.xml
.idea/**/modules.xml
.idea/**/qwat-data-model.iml
.idea/**/vcs.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
