language: python

# run on Travis container-based infrastructure
dist: trusty
sudo: false

git:
  depth: 99999  # needs all commits to fetch all tags, could not find better solution

addons:
  postgresql: "9.6"
  apt:
    packages:
    - postgresql-9.6-postgis-2.3

install:
  - pip install psycopg2 --quiet
  - pip install pyyaml --quiet

before_script:
  - printf "[qwat_prod]\nhost=localhost\ndbname=qwat_prod\nuser=postgres\n\n[qwat_test]\nhost=localhost\ndbname=qwat_test\nuser=postgres\n\n[qwat_test_conform]\nhost=localhost\ndbname=qwat_conf\nuser=postgres\n\n[qwat_demo]\nhost=localhost\ndbname=qwat_demo\nuser=postgres\n\n" > ~/.pg_service.conf
  - psql -c 'CREATE DATABASE qwat_prod;' -U postgres
  - psql -c 'CREATE DATABASE qwat_test;' -U postgres
  - psql -c 'CREATE DATABASE qwat_conf;' -U postgres
  - pg_dump -V
  - pg_restore -V

script:
# Create a qwat 1.0.0 db from a dump file
  - python $TRAVIS_BUILD_DIR/db_manager/dumper.py -p qwat_prod -r $TRAVIS_BUILD_DIR/update/delta/dump_1.0.0.dump


#  - python $TRAVIS_BUILD_DIR/db_manager/manager.py

#  - $TRAVIS_BUILD_DIR/init_qwat.sh -p qwat_test -s 21781 -r
#  - $TRAVIS_BUILD_DIR/tests/tests.sh --no-init
#  - $TRAVIS_BUILD_DIR/update/verify_upgrade_db.sh

env:
  global:
    - secure: FVQ8V8yMT4kdA4OqHJML1LVka+0jW8a12fb6AB98/e7QpuV8216BWU7Hps3aTo4uPH/sYzh2oP0sBedHk3imS3Ep4LJ4VugFGZufPsj2w4GqOR8xaUZjw3v0HeZVq6u1X2j9pYFSklNwHUMBd9TS93HhFkultM8N40I6UAgRtEmPKp35gnSSR/4OhRhBLvi+VMy3HWmBFzm9GAD0XtL8uvg9osA8tL7PWK4EmvR9AcoqgXo1MINXbYx2YHFBnG2j8w4CdRJA97aLeg0Lw2moMizQmhmU+w1FgmDU22A/HSAQZngKCW+/7LBTZ8d4lAoB6KXvNs2oeff27U64SRwUseiY6DQEE8lPVJWClQ5bnUWJlkQpBoNJy24ykFoBx2qBZ205CwjpnTVAPEiGN11Xsw4mFvfpjyslpmI2cCYuOWneqr7ZL7c/2Rrgx/HwuFDsi57Q6QAQFn3kmbSOuOSOIMwZ7f7uZ7eUbea2lGPmT+demegO+WgWuM4Q0HAblgjYmUIj0OMj+t+CbBiF3sUr+kuUgPIdTm3uaQGJhqSDcKIBimMlHIajAJ7dTz/2aia1gQy4zBbev7JpwbgMY/cVkZBSRnhYYXU5ZW9oWjG+x7Ft5UlQ0ORsfO5Pq4GCtTIUuqgD8lUZYlzYKshpWiAeVbHX5xCM6DtvNcdNpZuE9Wc=

